In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
ddl = "/content/drive/MyDrive/551DDL.txt"
file = open(ddl, "r")

In [3]:
FileasList = file.readlines()

In [4]:
from pandas.core.frame import DataFrame
import pandas as pd
import datetime
timeTable = pd.DataFrame(columns = ['Subject' , 'Start Date', 'Start Time'])

In [5]:
from pandas.core.indexes.datetimes import date_range
import time
for i in range(len(FileasList)):
  if(i%3 == 0):
    # print(FileasList[i])
    j = 0
    date = ""
    d= datetime
    t=time
    ddLName = ""
    for name in FileasList[i].split():   
      if(j == 0):
        print(name) 
        ddLName = name
      if(j == 3): # MM
        date = date + name + "\\"
      if(j == 4): # DD
        date = date + name + "\\"
      if(j == 6): # YY
        date = date + name
        d = datetime.datetime.strptime(date, '%b\%d\%Y') # Date
        
      if(j == 5): # Time
        t = time.strftime('%I:%M %p', time.strptime(name, '%H:%M:%S')) # Time
      j = j + 1
    timeTable.loc[int(i/3)] = (ddLName, d, t)
# 05/30/2020 10:00 AM

008_ch03_rq
009_read3
010_read4
011_numbers
012_comp_arith
013_complex_ty
014_ch04_rq
015_code1
016_code2
017_squares
018_read_squares
019_ch05_rq
020_retirement
021_rectangle
022_ch06_rq
023_testing1
024_testing2
025_debugging
026_ch07_rq
027_read_rec1
028_tests_power
029_power_rec
030_ch08_rq
031_read_ptr1
032_read_ptr2
033_ch09_rq
034_read_arr1
035_array_max
036_tests_subseq
037_array_subseq
038_ch10_rq
039_read_arr2
040_id_mem_errors
041_reverse_str
042_bits_arr
043_eval1
044_ch11_rq
045_read_arr3
046_read_encr
047_break_encr
048_tests_rot_matrix
049_rot_matrix
050_ch12_rq
051_read_leaks
052_fix_vg_encr
053_sort_lines
054_minesweeper
055_ch13_rq
056_kvs
057_outname
058_counts
059_put_together
060_eval2
061_ch14_rq
062_read_cpp
063_read_refs1
064_vector_2d
065_ch15_rq
066_read_constr1
067_read_constr2
068_vector_ctor
069_point
070_circle
071_ch16_rq
072_read_refs2
073_read_strs
074_int_array
075_int_matrix
076_ch17_rq
077_read_templ1
078_read_templ2
079_sort_cpp
080_matrix_templ
081_ch18_rq
082_read_inh
083_expr_eval1
084_expr_eval2
085_expr_eval3
086_ch19_rq
087_read_exn
088_read_vec
089_ch20_rq
090_ch21_rq
091_tests_lls
092_lls
093_eval3
094_ch22_rq
095_traversals
096_tests_binsrch
097_binsrch
098_bst_map
099_bst_set
100_ch23_rq
101_ch24_rq
102_huff_freq
103_huff_tree
104_huff_map
105_huff_all
106_ch25_rq
107_ch26_rq
108_ch27_rq
109_ch28_rq
110_ch29_rq

In [6]:
timeTable

            Subject Start Date Start Time
0       008_ch03_rq 2021-08-30   05:00 PM
1         009_read3 2021-08-31   05:00 PM
2         010_read4 2021-08-31   05:00 PM
3       011_numbers 2021-08-31   05:00 PM
4    012_comp_arith 2021-08-31   05:00 PM
..              ...        ...        ...
98      106_ch25_rq 2021-11-17   04:00 PM
99      107_ch26_rq 2021-11-19   04:00 PM
100     108_ch27_rq 2021-11-22   04:00 PM
101     109_ch28_rq 2021-11-29   04:00 PM
102     110_ch29_rq 2021-12-01   04:00 PM

[103 rows x 3 columns]

In [7]:
timeTable.to_csv("/content/drive/MyDrive/551_DDL.csv")